.mapLoading #mainFooter,
.layoutNotReady #mainFooter {
    visibility: hidden;
}

.Site .map_container {
    margin-right:10px;
    margin-bottom:10px;
}

#dataCredits {
    margin-left:15px;
    margin-right:15px;
    margin-top:5px;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #d3cfca;
    visibility: hidden;
}

.layoutNotReady #map {
    visibility: hidden;
}

.SiteSelector #map,
.mapLoaded #map {
    visibility: visible;
}

.Obfuscated #map {
    background-color: #fffbd0; /* Yellow map background when no terrain shown */
}

.SiteSelector #map {
   	height: 61vh; /*  Map height for SiteSelector */
}

#mapInfoDiv {
    display: none;    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: max(0px, 50% - 640px);
    margin-right: max(0px, 50% - 640px);
}

.SiteSelector #mapInfoDiv {
    display: block;
}

#mapInfoDiv h4 {
    padding-bottom: 40px;
}

.Site #mapFilterContainer {
    display: none;
}

.SiteSelector .fieldInfoDiv {
    display: none; /* Hide field info div for SiteSelector */
}

/* Disable geolocationing for obfuscated site locations */
.Obfuscated.Site .mapboxgl-ctrl-top-right {
    display: none;
}

.Site .mapboxgl-ctrl-geocoder {
    display: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background-color: transparent;
}

.map-overlay fieldset {
    background: transparent;
    border: none;
}

.fieldInfoDiv {
    width: 100%;
    display: block;
    padding: 15px 25px;
    padding-bottom: 0px;
}

.fieldInfoDiv p {
    font-size: calc(18px*0.98);
    color: #5E5E5E;
    font-weight: 400;
    margin: 0px;
    word-spacing: 2px;    
}

.chart_gridcontainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
    grid-gap: 0px;
}

.chart_gridcontainer_item {
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: calc(15px*0.98);
    text-align: center;
    display: block;
    padding-top: 10px;
    position: relative;
    margin: 10px;
}

#chart_div_satelliteImages {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.chart_colorbar_container {
    position: absolute;
    margin-left: 24px;
    text-align: left;
}

.chart_colorbar {
    position: absolute;
}

.chart_colorbar_title {
    display: block;
    margin-bottom: 5px;
}

.chart_colorbar_cumNDVI_title {
    position: absolute;
}

.chart_colorbar_ndvi_title {
    position: absolute;
}

.chart_title2_div h3, 
.chart_title_div h3 {
    padding-top: 15px;
    margin-bottom: 10px;
    color: #5E5E5E;
    font-size: calc(24px*0.98);
    text-transform: uppercase;
    text-align: center;
}

.casepage .chart_title_div {
    display: block;
}

.casepage .chart_title2_div {
    display: none;
}

#chart_title_div_satelliteImages {
    display: none;
}
/*
.casepage_chart_svg_and_legend_div {
    width: 66%;
}*/

.casepage_chart_title_and_description_div {
    /*width: 34%;*/
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -10px;
}

.Dataviewer {
    margin: 0px;
}

.SiteSelector #mainFooter {
    margin-top: -20px;
}

.Site #mainFooter {
    margin-top: -10px;
}

.Dataviewer h1 {
    margin-top: 40px;
}

.Dataviewer * {
    border-spacing: 0px;
}

.Dataviewer * h2 {
    padding-bottom:10px;
    margin-bottom:10px;
}

.Dataviewer * h3 {
    font-size: calc(28px*0.98);
    color: #5E5E5E;
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.SiteSelector #satelliteImageDiv {
    display: none;
}

#dataCredits h3 {
    padding-left: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.Site p {
    margin-bottom: 10px;
}

.chart_gridcontainer_item p,
#dataCredits p,
.chart_gridcontainer_item p * {
    font-size: calc(18px*0.98);
    color: #5E5E5E;
    font-weight: 400;
    margin: 0px;
    /*line-height: 1;
    word-spacing: 2px; */
}

#dataCredits p {
    margin-bottom: 15px;
}

.chart_gridcontainer_item p {
    padding: 5px 0px 5px 0px;
}

.chart_gridcontainer .fieldInfoDiv td {
    font-size: calc(18px*0.98);
    padding: 4px 16px 4px 0px;
    color: #5E5E5E;
}

.chart_grid {
    stroke: #000000;
    stroke-opacity: 0.08;
    stroke-width: 1;
}

.chart_path {
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}

.chart_axis_line {
    stroke: #CCCCCC;
    stroke-width: 2;
    fill: none;
}

.chart_axis_label {
    font-size: calc(16px*0.98);
}

.chart_tick_label {
    font: 14px sans-serif;
}

.chart_legend_div {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 90px;
    padding-left: 4px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
}

.chart_legend_element {
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    white-space: nowrap;
}

.chart_legend_text {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
}

.chart_download {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.chart_description {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
}

.casepage .chart_description {
    margin-bottom: 0px;
}

/*MAPVIEW CHART HANDLERS*/
.ChartPanArea {
    cursor: all-scroll;
    opacity: 0;
    transition: 0.5s;
}

/*Mapbox popup style*/

.map-popup {
    pointer-events: none;
    user-select: none;
}

.map-popup * {
    pointer-events: none;
    user-select: none;
}

.mapboxgl-popup-content {
    font: 200 15px/22px 'LatoLatinWeb', sans-serif;
    display: block;
    width: auto;
    background: #71CDB6;
    color: #fff;
    opacity: 1;
    border-radius: 6px;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.mapboxgl-popup-content p {
    all: initial;
    display: block;
    text-align: center;
    font: 200 16px/22px 'LatoLatinWeb', sans-serif;
    color: #fff;
    font-size: 1rem;
}

.Site .mapboxgl-popup-content p {
    font-size: 1.5rem;
}

.mapboxgl-popup-content h1 {
    all: initial;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font: 200 16px/32px 'LatoLatinWeb', sans-serif;
    color: #fff;
    font-size: 2rem;
}

.mapboxgl-popup-content h2 {
    all: initial;
    display: block;
    text-align: center;
    font: 200 16px/20px 'LatoLatinWeb', sans-serif;
    color: #fff;
    font-size: 1.2rem;
}

.mapboxgl-popup-anchor-bottom > .mapboxgl-popup-tip {
    border-top-color: #71CDB6;
}

.mapboxgl-popup-anchor-bottom-left > .mapboxgl-popup-tip {
    border-top-color: #71CDB6;
}

.mapboxgl-popup-anchor-bottom-right > .mapboxgl-popup-tip {
    border-top-color: #71CDB6;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-width: 20px;
    border-bottom-color: #71CDB6;
}

.mapboxgl-popup-anchor-top-left > .mapboxgl-popup-tip {
    border-bottom-width: 20px;
    border-bottom-color: #71CDB6;
}

.mapboxgl-popup-anchor-top-right > .mapboxgl-popup-tip {
    border-bottom-width: 20px;
    border-bottom-color: #71CDB6;
}

.mapboxgl-popup-anchor-left > .mapboxgl-popup-tip {
    border-right-color: #71CDB6;
}

.mapboxgl-popup-anchor-right > .mapboxgl-popup-tip {
    border-left-color: #71CDB6;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}


/*filter div*/
.map-overlay {
    position: absolute;
    font: 16px/24px 'LatoLatinWeb', sans-serif;
    background-color: #fff;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 5px 5px;
    border-radius:4px;
    z-index:8;
    display: grid;
    row-gap: 5px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);    
}

.filterScrollArea {
    display: grid;
    row-gap: 5px;
    overflow: auto;
    max-height: calc(61vh - 75px);
}

/*Filter places container on map*/
.filterCheckBox {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    cursor: pointer;
    font-size: calc(22px*0.98);
    line-height: 1;
}

/* Hide the browser's default checkbox */
.filterCheckBox input[type=checkbox] {
    width: 40px;
    height: 40px;
    padding:0px;    
    margin:0px;
    display: block;
    font-family: 'FontAwesome'; font-size: 30px;
    accent-color: var(--color);
    color: #fff;
}

input[type=checkbox]:checked::before {
    background-color: var(--color);
}

/* Show the checkmark when checked */

.SiteSelector .chart_gridcontainer {
    grid-template-columns: repeat(1,1fr);
}

#tooltip {
    position: absolute;
    pointer-events: none;
    background: rgb(255, 249, 227);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.tooltip_hidden {
    visibility: hidden;
}

.tooltip_delay {
    transition: visibility 0ms linear 500ms;
    opacity: 0;
    visibility: visible;
}

.tooltip_reveal {
    transition: opacity 250ms linear;
    opacity: 1;
    visibility: visible;
}

.tooltip_hide {
    transition: opacity 250ms linear;
    opacity: 0;
    visibility: visible;
}

@media (hover: hover) and (pointer: fine) {
    .ChartPanArea:hover {
        opacity: 0.1;
    }
}

@media (hover: hover) and (pointer: fine) {
    .ChartControls {
        opacity: 0;
        transition: 0.5s;
    }

    .ChartControls.Entered {
        opacity: 1;
    }
}

.casepage.chart_gridcontainer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    margin-bottom: 40px;
    margin-left: min(max(calc(-100% + 640px), -25%), -12.5%);
    margin-right: min(max(calc(-100% + 640px), -25%), -12.5%);
}

.casepage .chart_gridcontainer_item {
    grid-template-columns: repeat(2,1fr);
    display: grid;
}

.casepage .chart_gridcontainer_item h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}    

.casepage .chart_title_div {
    display: none;
}

.casepage .chart_title2_div {
    display: block;
}

#countryMap {
    float: right;
}

.casepage #countryMap {
    float: unset;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 30px;
}

.countryMapBorder {
    stroke: #cdcec8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    fill: none;
}

.casepage .countryMapBorder {
    stroke: #fff;
    stroke-opacity: 0.4;
    stroke-width: 2.5;
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1024px) {
    .Dataviewer .chart_gridcontainer {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0px;
    }

    .Dataviewer .chart_gridcontainer_item {
        margin: 0px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    #afterMapDiv + .chart_gridcontainer_item {
        border-top: 1px solid #ddd;
    }

    .Site #map {
        height: 300px;
    }

    .Site .map_container {
        margin-right: 0px;
        margin-bottom: 0px;
    }    

    .chart_description {
        margin-left: 15px;
        margin-right: 15px;
    }
    .fieldInfoDiv {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media only screen and (max-width: 767px) {
    .casepage .chart_title_div {
        display: block;
    }

    .casepage .chart_title2_div {
        display: none;
    }

    .casepage .chart_gridcontainer_item {
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (max-width: 640px) {
    #dataCredits,
    .chart_description {
        margin-left: 5px;
        margin-right: 5px;
    }
    .chart_legend_div {
        margin-left: 0px;
        margin-right: 0px;
    }
    .fieldInfoDiv {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 479px) {
}